// body
//     font-family sans-serif
//     background-color #FC4A1A
    


// .material-icons {
//     font-size:600px;
//     color:#FFF113;
//     text-align:left;
//     vertical-align: middle !important;
//     padding-bottom: 3px;
//     margin-left: 190px;
//     align-items: center;
    
// }


// .loginPage h1{
//     color:white;
//     text-align: center;
//     font-size: 150px;
//     margin-top:8cm;

// }

// .main-page h1{
//     color:white;
//     text-align: center;
//     font-size: 180px;
//     margin-top:8cm;
//     margin-left:18cm;

// }


// .login-button{
//     font-size: 20px;
//     text-align: center;
//     margin-left: 30px;
//     color: black;

// }

// h5
//     color white
//     text-align center
//     font-size 36px


// h2
//     color white
//     font-size 72px
//     margin-left 3cm



// .circle-slider img{
//     width:84%!important;
//     margin-left:2cm;
//     margin-right:auto;
//     display:block;
//     border-radius:100%;
//     border:solid 10px #FFFFFF;
//     -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
//             box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
//     -moz-transform: scale(1,1);
//     -webkit-transform: scale(1,1);
//     -o-transform: scale(1,1);
//     -ms-transform: scale(1,1);
//     transform: scale(1,1);
//     -webkit-transition: all 200ms ease;
//     -moz-transition: all 200ms ease;
//     -ms-transition: all 200ms ease;
//     -o-transition: all 200ms ease;
//     transition: all 200ms ease; 
// }

// .circle-slider img:hover{
//     -moz-transform: scale(1.02,1.02);
//     -webkit-transform: scale(1.02,1.02);
//     -o-transform: scale(1.02,1.02);
//     -ms-transform: scale(1.02,1.02);
//     transform: scale(1.02,1.02);
//     -webkit-transition: all 200ms ease;
//     -moz-transition: all 200ms ease;
//     -ms-transition: all 200ms ease;
//     -o-transition: all 200ms ease;
//     transition: all 200ms ease;  
// }

// .circle-slider1 img{
//     width:84%!important;
//     margin-left:2cm;
//     margin-right:auto;
//     display:block;
//     border-radius:100%;
//     border:solid 10px #FFFFFF;
//     -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
//             box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
//     -moz-transform: scale(1,1);
//     -webkit-transform: scale(1,1);
//     -o-transform: scale(1,1);
//     -ms-transform: scale(1,1);
//     transform: scale(1,1);
//     -webkit-transition: all 200ms ease;
//     -moz-transition: all 200ms ease;
//     -ms-transition: all 200ms ease;
//     -o-transition: all 200ms ease;
//     transition: all 200ms ease; 

// }

// .navi th,tr,td{

//     padding: 80px;
//     text-align: right;
//     padding-right:1px;


// }

// .navi table{
//     margin-left:0 auto; 
//     margin-right:0 auto;
//   }


// .special{
//  margin-top:0cm;
//  padding: 420px;
//  height: 50px;
//  padding-top:10px;
    
// }

// .findFriends h1 {
//   font-size: 80px;
//   text-align: center;
//   color: white;
//   margin-top: 3cm;

// }

// .findFriends p{
//   font-size: 50px;
//   text-align: center;
//   line-height: 50px;
//   color:white

// }

// .friendsnavi {
//   margin: 20px;
//   background-color: white;
// }
 
// .friendmenu {
//   list-style-type: none;
//   width: 940px;
//   height:1000px;
// }
 
// .friendmenu a {
  
//   font-size: 50px;
//   color: black;
//   line-height: 100px;
//   margin-left: 80px;


// }
 
 
// .friendmenu li {
//   padding: 10px;
//   overflow: auto;
//   padding-left:0;
// }

// .friendmenu {
//  list-style-position: inside;
//  padding-left:0;
//  display: block;
//  height:100px

// }
 
// .friendmenu ul. hover{
//   background-color: red;
//   cursor: pointer;
// }



// .red{
//   padding-left:0;
//   background: #FF300F;
//   list-style:none;
//   display: block;
//   height:100px

// }

// .pink{
//   background: #FF540F;
//   display: block;
//   height:100px
// }

// .lightred{
//   background: #FF780F;
//   display: block;
//   height:100px
// }
 
// .lightred2{
//   background: #FF980F;
//   display: block;
//   height:100px;

// }

// .lightred3{
//   background: #FFB30F;
//   display: block;
//   height:100px;
// }

// .lightred4{
//   background: #FFCF0F;
//   display: block;
//   height:100px;
// } 

// .lightred5{
//   background: #FFDA13;
//   display: block;
//   height:100px;
// } 

// .lightred6{
//   background: #FFF113;
//   display: block;
//   height:100px;
// } 


// .testResult h2{
//   font-size: 16px;
// }



// .personalityIntro {

//    font-size: 50px;
//    margin-left:20px;
//    margin-top:40px;
   
  
// }

// .test{
//   font-size: 50px;
//   background:white;
//   padding-left:30px;
//   margin-left:20px;
//   margin-right:20px;
//   margin-top:80px;
//   line-height: 100px;
  
// }



// .test input[type="radio"   ]{
//   width            : 0.875em;
//   height           : 0.875em;
//   font-size:50px;
//   margin: 25px 0 0 30px;

// }


// .test button{
//    background-color:#FC4A1A;
//    color:white;
//    font-size:60px;
//    border-radius: 12px;
//    padding:20px;
   

// }

// .testResult h2{
//   color:black;
//   font-size:60px;

// }

















